$colors: (
  alpha:   #A6B0CFFF, // rgba(166, 176, 207, 1)
  beta:    #6A7187FF, // rgba(106, 113, 135, 1)
  gamma:   #1F67FBFF, // rgba(31, 103, 251, 1)
  delta:   #33394CFF, // rgba(51, 57, 76, 1)
  epsilon: #656A78FF, // rgba(101, 106, 120, 1)
  zeta:    #FFFFFFFF, // rgba(255, 255, 255, 1)
  eta:     #F2994AFF, // rgba(242, 153, 74, 1)
  theta:   #27AE60FF, // rgba(39, 174, 96, 1)
  iota:    #F25D5DFF, // rgba(242, 93, 93, 1)
  kappa:   #9B51E0FF, // rgba(155, 81, 224, 1)
  lambda:  #8790ABFF, // rgba(135, 144, 171, 1)
  mu:      #42CE48FF, // rgba(66, 206, 72, 1)
  nu:      #F2C85DFF, // rgba(242, 200, 93, 1)
  xi:      #272B3BFF, // rgba(39, 43, 59, 1)
  omicron: #2B3041FF, // rgba(43, 48, 65, 1)
  pi:      #693943FF, // rgba(105, 57, 67, 1)
  rho:     #2F3547FF, // rgba(47, 53, 71, 1)
  sigma:   #242938FF, // rgba(36, 41, 56, 1)
  tau:     #3C7873FF, // rgba(60, 120, 115, 1)
  upsilon: #4C7FE8FF, // rgba(76, 127, 232, 1)
  phu:     #D02F44FF, // rgba(208, 47, 68, 1)
  chi:     #404558FF, // rgba(64, 69, 88, 1)
  psi:     #FCA12FFF, // rgba(252, 161, 47, 1)
  omega:   #74788DFF, // rgba(116, 120, 141, 1)
  cuin:    #22273680, // rgba(34, 39, 54, 0.5)
);

@function color($name) {
  @return var(--color-#{$name});
}

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}
